import fastf1 as ff1
import streamlit as st
import matplotlib as mpl
from fastf1 import plotting
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
from matplotlib.colors import ListedColormap
from matplotlib.collections import LineCollection
import seaborn as sns
from fastf1.ergast import Ergast
import plotly.express as px
from plotly.io import show
from matplotlib import cm
